.box {
  border: 1px solid #222222;
  padding: 10px;
  height: 45px;
  cursor: pointer;
}

.box:hover {
  transform: scale(1.04)
}

.grid1 {
  width: 45%;
  position: absolute;
  top: 0;
  left: 50px;
}

.grid2 {
  width: 45%;
  position: absolute;
  top: 0;
  right: 50px;
}

.guard-box {
  height: 100%;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 0.3;
}