.box {
  border: 1px solid #222222;
  padding: 10px;
  height: 45px;
  cursor: pointer;

}

/* .box:hover {
  transform: scale(1.04)
} */

.grid1 {
  width: 45%;
  position: absolute;
  top: 0;
  left: 50px;
}

.grid2 {
  width: 45%;
  position: absolute;
  top: 0;
  right: 50px;
}

.guard-box {
  height: 100%;
  width: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.end-game {
  width: 100%;
  height: 100%;
  z-index: 6000;
  top: 0;
  left: 0;
  background-color: #ecf0f1;
  opacity: 0.5;
}

.end-game-msg {
  width: 100%;
  font-size: 3em;
  text-align: center;
  color: #16a085;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 6500;
  margin: 11.5rem 0;
}

button {
  position: absolute;
  z-index: 10000;
}

.ship-box {
  width: 100%;
  height: 100%;
  border: 2px solid #222222;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1500;
}

div#carrier {
  position: relative;
  top: 0;
  left: 0;
  width: 46px;
  height: 158px;
  background: #efedef;
}